
:root {
    --primary: #eeeeee;
    --on-primary: black;
    --secondary: #7a7a7a;
    --on-secondary: white;
    --transparent-background: rgba(0, 0, 0, 0.5);
    --nav-background: #343c58;
    --link-secondary: #1e4386;
    font-family: 'Roboto', sans-serif;
    color: var(--on-primary);
}

html,body {
    padding: 0;
    margin: 0;
    background: var(--primary);
}

html {
    display: grid;
    height: 100vh;
    overflow-y: auto;
}

body {
    display: grid;
    grid-template-rows: 100vh auto 3em;
}

.text-center {
    text-align: center;
}

.fill-width {
    width: 100%;
}

.landing {
    display: grid;
    grid-template-rows: 3fr 2fr;
    margin: 1em;
    color: white;
    text-align: center;
}

.landing * {
    z-index: 1;
}

.container, .footer {
    z-index: 1;
    background: var(--primary);
}

.container {
    min-height: 50vh;
}

.footer {
    background: var(--nav-background);
    color: var(--on-secondary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: center;
}

.footer * {
    margin: 0;
    color: white;
}

.footer a:hover {
    color: var(--secondary);
}

.video-background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10vh;
}

.video-cover {
    position: absolute;
    z-index: 1;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: -10vh;
    background: var(--transparent-background);
}

.header {
    align-self: center;
    text-align: center;
}

.head-group {
    align-self: center;
    text-align: center;
    animation: 1s fade-in ease-in;
}

.landing .paragraph {
    opacity: 0;
    max-width: 30em;
    align-self: center;
    animation: 1s fade-in 1s;
    animation-fill-mode: forwards;
}

.paragraph {
    margin: 0 auto;
    line-height: 1.5em;
}

.nav {
    background: var(--nav-background);
    padding: 1em;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 15px #000000dd;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5em;
    margin: 0;
}

.nav li {
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav ul li:first-child {
    display: none;
}

.section {
    display: grid;
    gap: 0.5em;
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 5em;
    max-width: 1000px;
}

.section a {
    color: var(--link-secondary);
}

.section .section-header {
    transition: color 0.2s;
}

.section .section-header:target {
    color: var(--nav-background);
    padding-top: 100px;
    margin-top: -100px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    font-weight: bolder;
}

.section .image-div {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5em;
    gap: 1em;
}

.section img {
    margin: 0 auto;
    -webkit-user-drag: none;
}

.project {
    min-height: 250px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 0.5em;
    padding: 1em;
    gap: 2em;
    background: #ffffff;
    border-radius: 0.8em;
}

.project div {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.project img {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.contact-form {
    display: grid;
    gap: 1em;
    padding: 1.5em;
    background: #fff;
    border-radius: 0.8em;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.input-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.input-section input, .contact-form textarea, .contact-form button {
    background: #eeeeee;
    height: 2em;
    padding: 1em;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 0.8em;
    outline: none;
    transition: 0.2s;
    color: var(--secondary);
}

.input-section input:hover, .contact-form textarea:hover, .contact-form button:hover {
    border: 2px solid var(--nav-background);
    cursor: pointer;
}

.input-section input:focus, .contact-form textarea:focus, .contact-form button:active {
    border: 2px solid var(--link-secondary);
}

.contact-form textarea {
    height: 150px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.contact-form button {
    height: unset;
}

a {
    color: var(--nav-background);
    transition: color 0.2s;
}

a:hover {
    color: var(--secondary);
}

@keyframes fade-in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@media (max-width: 800px) {

    .nav.open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: 0.2s fade-in;
        animation-fill-mode: forwards;
    }

    .nav.open ul {
        grid-auto-rows: 1fr;
    }

    .nav.open ul li:first-child {
        margin-bottom: 1em;
    }

    .nav.open ul li:not(:first-child) {
        display: block;
        margin: 0;
        padding: 0.5em;
        text-align: left;
    }

    .nav ul {
        grid-template-columns: unset;
    }

    .nav ul li:first-child {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        cursor: pointer;
    }

    .nav ul li:not(:first-child) {
        display: none;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section .image-div img {
        width: 60px;
    }

    .footer {
        grid-template-columns: unset;
    }

    .footer :nth-child(2) {
        display: none;
    }

}